@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    box-sizing: border-box;
    
}
body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #4d5666;
}
.membership-form{
    padding-bottom: 5%;
    padding-top: 3%;
    max-width: 900px;
    margin: 0 auto;

}
.header-2{
    font-size: 20px;
    font-weight: 600;
}
input{
    width: 100%;
    height: 35px;
    margin-bottom: 0.5em;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(225, 222, 222);
}
input:focus{
    border: 2px solid #3094e6;
}
input:hover{
    border: 2px solid #42a5f5;
}
fieldset{
    border: 2px solid #e6ee9c;
}
table{
    width: 100%;
}
.nominee-field{
    margin-top: 1em;
}
h1{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-bottom: 3em;
}
.register-button{
    padding: 0.5em;
    font-size: 18px;
    background: #fff;
    border: 2px solid #c0ca33;
    color: #a6af29;
    cursor: pointer;
    

}
.register-button:hover{
    background-color:#c0ca33;
    color: #333;
    transition: background-color 0.5s ease-out;
    
}
.error{
    border: 2px solid red;
    padding: 0.5em;
    text-align: center;
    color: red;
    background: rgb(255, 217, 217);
    font-weight: 580;
    font-size: 18px;
}