@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    box-sizing: border-box;
    
}
body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #4d5666;
}
label{
  font-weight: 700;
  color: #8f9723;
}
.membership-form{
    padding-bottom: 5%;
    padding-top: 13%;
    max-width: 900px;
    margin: 0 auto;

}
.membership-form span{
  color:#a6af29;
}
.loans span{
  color:#a6af29;
}
.header-2{
    font-size: 20px;
    font-weight: 600;
}
input{
    width: 100%;
    height: 35px;
    margin-bottom: 0.5em;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(225, 222, 222);
}
input:focus{
    border: 2px solid #3094e6;
}
input:hover{
    border: 2px solid #42a5f5;
}
fieldset{
    border: 2px solid #e6ee9c;
}
table{
    width: 100%;
}
.nominee-field{
    margin-top: 1em;
}
h1{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-bottom: 3em;
}
.register-button{
    padding: 0.5em;
    font-size: 18px;
    background: #fff;
    border: 2px solid #c0ca33;
    color: #a6af29;
    cursor: pointer;
    

}
.r-b-left{
  margin-right: 1em;
}
.file-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.file-button{
  background: #fff;
  padding: 1em;
  font-size: 25px;
  border: 2px solid #a6af29;
  width: 30%;
  color:#a6af29;
}
.file-button:hover{
  background-color:#c0ca33;
  color: #333;
  transition: background-color 0.5s ease-out;
 
}
.register-button:hover{
    background-color:#c0ca33;
    color: #333;
    transition: background-color 0.5s ease-out;
   
}
.error{
    border: 2px solid red;
    padding: 0.5em;
    text-align: center;
    color: red;
    background: rgb(255, 217, 217);
    font-weight: 580;
    font-size: 18px;
}
.nav-bar {
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background:#f6f6f3;
    align-items: center;
    height: auto;
    
    position: fixed;
    top:28px;
    right:0;
    left:0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  .nav-bar h1 {
    color: #c0ca33;
    grid-column: 1/6;
  }
  .links {
    grid-column: 6/13;
    width: 25%;
    display: flex;
    justify-content: flex-start;

  }
  .links a {
    color: #c0ca33;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    padding: 0.7em;
  }
  .links a:hover {
    background: #c0ca33;
    color: #333;
    transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}
  .second-navigation{
    display: flex;
    justify-content: flex-end;
    height: auto;
    position: fixed;
    top:0;
    right:0;
    left:0;
    background: #333;
  }
  .second-links{
    display: flex;
    width: 20%;
    justify-content: space-around;
    color: #fff;

  }
  .log-style{
    padding: 0.3em;
  }
  .log-style:hover{
    cursor: pointer;
    color: #c0ca33;
    border-radius: 7px;
  
}
.log-message{
    font-size: 40px;
    text-align: center;
    color: rgb(119, 119, 119);
    
  }
  .login-container{
    background: rgb(227, 225, 225);
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
  }
  .login-form{
    max-width:500px;
    height: auto;
    border: 2px solid rgb(214, 212, 212);
    margin:10% auto;
    display: grid;
    padding-bottom:1em;
    grid-template-columns: repeat(12,1fr);
    background: #fff;
    border-radius:8px;
   
  }
  .login-title{
    text-align: center;
    font-size: 35px;
    grid-column: 1/13;
  }
  .login-form form{
    grid-column: 1/13;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 1em;
  }
  
  .login-form input{
    width: 100%;
    height:40px;
    margin-top: 1em;
    font-size: 18px;
    outline: none;
  }
  .login-form input:hover{
    box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #00695c;
    
  }
  .login-form button{
    margin-top: 1em;
    color: #fff;
    border:none;
    cursor: pointer;
  }
  .login-button{
    font-size: 18px;
    padding: 0.5em;
    background:#00695c;
   
    
  }
  .login-button:hover{
    background:#004d40;
  }
  .signup-button{
    font-size: 18px;
    padding: 0.5em;
    background: #6070ff;
    
    float: right;
    border-radius:8px;
    
  }
  .signup-button:hover{
    background: #4f60f4;
  }
  .not-exist{
    grid-column: 1/13;
    background: #c62828;
    color: #fff;
    font-size: 17px;
    padding: 0.5em;
   text-align: center;
  }
  .create-account-wrapper{
    background: rgb(226, 226, 226);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .create-account{
    max-width:500px;
    height: auto;
    border: 2px solid rgb(214, 212, 212);
    margin:7% auto;
    display: grid;
    padding-bottom:1em;
    grid-template-columns: repeat(12,1fr);
    background: #fff;
    border-radius:8px;
  }
  .create-account-title{
    grid-column: 1/13;
    text-align: center;
    font-size: 35px;
  }
  .create-account form{
    grid-column: 1/13;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
  
  }
  .create-account input{
    width: 100%;
    height:40px;
    margin-top: 1em;
    font-size: 18px;
    outline: none;
  }
  .create-account input:hover{
    box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid #00695c;
    
  } 
  .create-account button{
    margin-top: 1em;
    padding: 0.5em;
    font-size: 18px;
    justify-self: center;
    cursor: pointer;
    background: #00695c;
    color: #fff;
    border:none;
  }
  .create-account button:hover{
    background:#004d40;
  }
  .create-account-error{
    grid-column: 1/13;
    background: #c62828;
    color: #fff;
    font-size: 17px;
    padding: 0.5em;
   text-align: center;
  }
  .home-content{

    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    
    
    
  }
  .search{
    padding: 1em;
    border-radius: 12px;
    font-size: 18px;
    border: 2px solid #a6af29;
    height: 50px;
    border-radius:20px;
    font-size: 20px;
    padding: 0.5em;
    
}
.home-content thead{
  background: #a6af29;
  color: #333;
  font-size: 18px;
}

  .details{
    margin-top: 20%;
  }
  .details-button{
    padding: 0.5em;
    font-size: 18px;
    background: #fff;
    border: 4px solid #a6af29;
    color: #a6af29;
    cursor: pointer;

  }
  .new-savings-bg{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    background:#333;
    opacity: 0.9;
    overflow: auto;
  }
  .close{
    float: right;
    margin-top: 4%;
    margin-right:4%;
    cursor: pointer; 
  }
  .bar:nth-child(2){
    opacity: 0;
  }
  .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    
}
.bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
  .bar{
    width: 25px;
    background: white;
    margin: 5px 6px;
    display: block;
    height: 3px;
  }
  .bar-l:nth-child(2){
    opacity: 0;
  }
  .bar-l:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    
}
.bar-l:nth-child(3){
  transform: translateY(-7px) rotate(-45deg);
 
}
  .bar-l{
    width: 18px;
    background: white;
    margin: 5px 6px;
    display: block;
    height: 2px;
  }

  .close-error-dialog{
    float: right;
    cursor: pointer;
  }
  .new-savings{
    max-width: 800px;
    margin: 6% auto;
    background: white;
    padding: 3em;
  }
  .new-savings h2{
    text-align: center;
  }
  .new-savings-button{
    display: flex;
    justify-content: center;

  }
  .new-savings button{
      padding: 0.5em;
      font-size: 18px;
      font-weight: 550;
      background:#a6af29;
      border: none;
      cursor: pointer;
  }
  .new-savings button:hover{
    background: #8f9723;
  }
  .pending-loan{
    max-width: 800px;
    height: 500px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
 
    border: 1px solid rgb(199, 197, 197);
    bottom:0;
    background: rgb(248, 248, 248);
    
}
.error-message{
  display: flex;
  justify-content: center;
  align-content: center;
}
.error-message p{
  margin-top: 30%;
  color: red;
  font-weight: 500;
}
.top-bar{
  display: block;
  background: #333;
  height: 30px;
  width: 100%;
   margin-top: -0.5em;
  
}
.loans{
  margin-top: 15%;
}
.loans table{
  max-width: 1100px;
  margin: auto;
  

}
.loans table th{
  padding: 1em;
  background: #a6af29;
}
.loans table td{
  text-align:center;
  padding: 0.5em;
  background: rgb(228, 225, 225);
}
.print-loans{
  display: flex;
  justify-content: flex-end;
  margin-right: 8.5%;
  
}
.print-loans button{
    padding: 0.5em 1em;
    font-size: 15px;
    background: #a6af29;
    border: none;

}
.print-loans button:hover{
  background: #8e9623;
}
.print-loan-page table{
  border: 1px solid #333;
  max-width: 1100px;
  margin: auto;
  border-collapse: collapse;

}
.print-loan-page th,.print-loan-page td{
  border: 1px solid #333;
}
td{
  text-align: center;
}
.deductions{
  max-width: 900px;
  margin: 15% auto;
}
.deduction-buttons{
  display: flex;
  flex-flow: column;
}
.deduction-buttons button{
  font-size: 40px;
  padding: 1em;
  margin-bottom: 1em;
  background: #fff;
  border: 2px solid #c0ca33;
  color: #c0ca33;
}
.deduction-buttons button:hover{
  background: #c0ca33;
  color: #333;
  transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}
    
.savings-deductions{
  margin-top: 15%;
}
.savings-deductions table{
  width: 45%;
  
  
}
.savings-deductions th{
   border-bottom: 2px solid #333;
}
.print-deductions{
  float: right;
  margin-right: 3em;
  font-size: 16px;
  padding: 0.5em;
  background: #fff;
  color:#c0ca33;
  border: 4px solid #c0ca33;
  cursor: pointer;
}
.prompt-dialog-background{
  background: #333;
  opacity: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;
}
.prompt-dialog{
  background: #fff;
  max-width: 500px;
  margin: 15% auto;
  height: 220px;
  padding: 1em;
}
.prompt-message{
  text-align: center;
  font-size: 18px;
  color: orange;
}
.c-box label{
  width: 50%;
  font-size: 17px;

}
.c-box input{
  width: 20px;
}
.c-box{
  display: flex;
  align-items: center;
  
}
.ok-flex{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.ok{
  font-size: 18px;
  padding:0.3em 0.7em;
  background: #c0ca33;
  color: #333;
  font-weight: 600;
  border: none;
  cursor: pointer;

  

}
.ok:hover{
  background:#a6af29;
}
.prompt-dialog-close{
  cursor: pointer;
  float: right;
  margin-top: 3%;
  margin-right: 3%;

}

.success-prompt{
  background: red;
  max-width: 500px;
  margin: 15% auto;
  height: 300px;
  position: fixed;


}
.success{
  color: rgb(12, 161, 12);
  font-size: 18px;
  text-align: center;
  margin-top: 25%;
}
.black{
  background: #333;
}
.success-prompt-close{
  float: right;
}
.categories input{
  width: 18px;
}
.categories{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.cat-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 7/13;
}
.cat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/6;
}
.beneficiaries{
  margin-top: 15%;
}
.loan-deduction-header{
  width:40%;
  margin-left: 50px;
  letter-spacing:2px;
  
}
th{
  letter-spacing: 1px;
}
.row-flex{
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2.5em;
}
.loaners{
  margin-right: 1em;
}
.incomes{
  margin: 20% auto;
  max-width: 800px;
}
.income-label{
  font-weight: 700;
}
.incomes input{
   height: 50px;
   border-radius:20px;
   border:1px solid rgb(189, 186, 186);
   font-size: 20px;
   padding: 0.5em;
   
}
.incomes input:hover{
  box-shadow: 3px 5px 5px rgba(0,0,0,0.1);

}
.income{
  font-size: 18px;
  background:#eef3a2;
  padding: 0.7em;
}
.incomes table{
  border-collapse: collapse;
  border: 1px solid #333;
}
.incomes thead{
  background: #eef3a2;

}
.incomes th{
  border: 1px solid #333;
  font-size: 18px;
  padding: 0.3em;
}
.incomes td{
   border:1px solid rgb(196, 195, 195);
}
.flex-two-row{
   display: flex;
   margin: auto;
   justify-content: space-between;
}
.hire-purchase{
  margin-top: 15%;
}
.hire-purchase table{
  border-collapse: collapse;
  border: 1px solid #333;
}

.hire-purchase thead{
  background:#c0ca33;
}
.hire-purchase th{
  border: 1px solid rgb(136, 136, 136);
  padding: 0.5em;
  font-size: 18px;
  
}
.hire-purchase td{
  padding: 0.5em;
  font-size: 18px;
  color: rgb(130, 130, 130);
  border: 1px solid rgb(208, 206, 206);
}
.wider{
  width: 100%;
}

  @media screen and (max-width: 786px)
  {
    .nav-bar{
        display: none;
    }
  }
  
   